@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}
